%p.title
  = label :show_page, :title, 'Title'
  = object.text_field :title, :class => 'textbox', :maxlength => 255, :id => 'show_title'
.drawer
  .drawer_contents
    %table.fieldset#attributes
      = render :partial => 'hidden_fields', :object => object
      %tr
        %th.label
          %label= t('seating.add_seating_type')
        %td.actions{:colspan => 3}
          = link_to image('plus_grey', :alt => t('seating.add_seating_type')), '#add_seating_type_popup', :class => 'popup'
        = render :partial => 'admin/seating_types/seating_type', :locals => { :owner_model => 'show' }, :collection => @show.seating_types
  .drawer_handle
    %a.toggle{:href=>'#attributes', :rel=>"toggle[attributes]", :class=>"#{(meta_errors? ? 'less' : 'more')}"}= meta_label
%p.description
  = label :show_description, :description, t('description')
  = object.text_area :description, :class => 'textbox', :size => '60x5', :id => 'show_description'
%p{ :style => 'display: inline-block' }
  = label :show_reservations_open, :reservations_open_string, t('reservations.reservations_open')
  = object.text_field :reservations_open_string, :class => 'date', :id => 'show_reservations_open', :value => (model.new_record? || model.reservations_open.nil? ? I18n.localize(Date.today, :format => :long) : I18n.localize(model.reservations_open, :format => :long))
%p{ :style => 'display: inline-block; margin-left: 1em' }
  = label :show_reservations_close, :reservations_close_string, t('reservations.reservations_close')
  = object.text_field :reservations_close_string, :class => 'date', :id => 'show_reservations_close', :value => (model.new_record? || model.reservations_close.nil? ? I18n.localize(Date.today, :format => :long) : I18n.localize(model.reservations_close, :format => :long))
%table.fieldset#performances
  %tr
    %th.label
      %p
        %label= t('performances.add_performance')
    %td.actions
      - link_to '#add_performance_popup', :class=>'popup' do
        = image 'plus_grey', :alt => t('performances.add_performance')
    = render :partial => 'admin/performances/performance', :collection => @show.performances
%p.buttons{:style=>"clear: left"}
  = save_model_button(model)
  = save_model_and_continue_editing_button(model)
  = t('or')
  = link_to t('cancel'), admin_shows_url
  %span{ :style => 'margin-left: 2em' }
    = object.check_box :draft, :id => 'show_draft', :style => 'vertical-align: middle'
    Draft
