%tr
  %th.label
    %label Author
  %td.field
    = object.text_field :author, :class => 'textbox', :maxlength => 255, :id => 'show_author'
  %th.label
    %label Director
  %td.field
    = object.text_field :director, :class => 'textbox', :maxlength => 255, :id => 'show_director'
%tr
  %th.label
    %label= t('notes')
  %td.field{ :colspan => 3 }
    = object.text_field :notes, :class => 'textbox', :maxlength => 500, :id => 'show_notes'
%tr
  %th.label
    %label= t('reservations.threshold')
  %td.actions{ :colspan => 3 }
    = object.select(:threshold_seconds, model.hours_for_select)
%tr
  %th.label
    %label= t('shows.show_length')
  %td.actions{ :colspan => 3 }
    = object.text_field :length, :class => 'textbox', :maxlength => 5, :id => 'show_length'
    min
%tr
  %th.label
    %label= t('shows.private_show')
  %td.actions{ :colspan => 3 }
    = object.check_box :private, :id => 'show_private'
